body {
    background: #fafafa;
}

.container-fluid {
    background: white;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid #e0e0e0;
    width: 50%;
    min-width: 800px;
}

input[type=radio]:hover {
    cursor: pointer;
}

input[type="image"] {
    border:0 none;
    -moz-border:0 none;   
    -webkit-border:0 none;  
     outline: 0;
}

input[type="image"]:disabled {
    opacity: 0.3;
}

input[type="image"]:enabled:active {
    transform: translateY(2px);

}

.form-check label {
    cursor: pointer;
}
