body{
    background: #FDFEFE;
}

iframe{
	width: 50%;
	height: 80vh;
}

h1{
    text-align: center;
}

.container-fluid {
    background: #F2F4F4;
    padding: 50px;
    margin: 30px auto;
    border: 1px solid #e0e0e0;
    width: 80%;
}

button[type="button"]{
    float: right;
}
