body {
    background: #fafafa;
}

.container-fluid {
    background: white;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid #e0e0e0;
    width: 80%;
}

iframe{
	width: 70%;
    height: 50vh;
    border: none;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 45%;
    height: 30px;
    background-color: #28a745;
    text-align: center;
    line-height: 30px;
    color: white;
}